<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Project\Fairy3D\trunk\FairyEngine\Test\TestLua\Debug\TestLua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\Project\Fairy3D\trunk\FairyEngine\Test\TestLua\TestLua</StartWorkingDirectory>
  </propertyGroup>
</Project>